.modal_wrapper {
    padding: 24px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 3px;
    z-index: 99;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
  }